USE [QL_NhanSu]
GO
/****** Object:  Table [dbo].[tbl_Deparment]    Script Date: 11/13/2025 1:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Deparment](
	[Deptid] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Deptid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 11/13/2025 1:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Gender] [nvarchar](10) NULL,
	[City] [nvarchar](100) NULL,
	[Deptid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Deparment] ([Deptid], [Name]) VALUES (1, N'Khoa CNTT')
INSERT [dbo].[tbl_Deparment] ([Deptid], [Name]) VALUES (2, N'Khoa Ngoại Ngữ')
INSERT [dbo].[tbl_Deparment] ([Deptid], [Name]) VALUES (3, N'Khoa Tài Chính')
GO
INSERT [dbo].[tbl_Employee] ([Id], [Name], [Gender], [City], [Deptid]) VALUES (1, N'Nguyễn Hải Yến', N'Nữ', N'Đà Lạt', 1)
INSERT [dbo].[tbl_Employee] ([Id], [Name], [Gender], [City], [Deptid]) VALUES (2, N'Trương Mạnh Hùng', N'Nam', N'TP.HCM', 1)
INSERT [dbo].[tbl_Employee] ([Id], [Name], [Gender], [City], [Deptid]) VALUES (3, N'Đình Duy Minh', N'Nam', N'Thái Bình', 2)
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD FOREIGN KEY([Deptid])
REFERENCES [dbo].[tbl_Deparment] ([Deptid])
GO
